<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Contactez Moi</title>
  </head>
  <body>
    <nav>
      <div id="nav">
        <div id="name">
          Blog de adrien LEIB
        </div>
      <div id="menu">
        <a href="../index.html">Qui suis-je ?</a> |
        <a href="blog.html"> Blog </a> |
        <a href=""> Contactez-moi </a>
      </div>
    </div>      
    </nav>

  <section  id="contact">
    <h1>Contactez Moi !</h1>

<!-- Contact Section -->
    <form action="https://formspree.io/adrien.leib@ynov.com" method="POST">
      <div class="row">
        <div class="col-md-12">
          <label> Email </label>
          <input type="email" name="mail" id="mail">
          
        </div>
        
      </div>
      <div class="row">
        <div class="col-md-12">
          <label> Texte </label>
          <textarea name="Message"></textarea>
          
        </div>
      </div>
      <input type="submit" value="Send">
    </form>
  </section>

  <footer>
    <div id="footer">
        Copyrigth Adrien LEIB
    </div>    
  </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>